# Database Connection (SQLite untuk lokal, PostgreSQL / Neon untuk Vercel production)
DATABASE_URL="file:./dev.db"

# NextAuth Configuration
NEXTAUTH_SECRET="ganti-dengan-secret-acak-minimal-32-karakter"
NEXTAUTH_URL="http://localhost:3000"
